

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
    text-decoration: none;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(39, 25, 100);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 300px;
    height: 500px;
    margin: 30px;
    border-radius: 40px;
    background-color: rgb(39, 25, 100);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(130, 104, 202);
}

.container .card .content{
    padding: 30px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2{
    
    position: absolute;
    top:-80px;
    right: 30px;
    font-size: 8em;
    color: aliceblue;
    opacity: 0.1;
    pointer-events: none;
}

.container .card .content h3{
    margin: 0%;
    font-size: 2em;
    font-weight: bolder;
    color: aliceblue;
    z-index: 1;
}

.container .card .content p{
    font-size: 1em;
    color: aliceblue;
    font-weight: bolder;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: aliceblue;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    font-weight: bolder;

}